body {
  padding-top: 0px;
}
.container-fluid {
  padding: 2px;
}

#map {
	height: 900px;
	width: 1800px;
}

.map-overlay {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: white;
	padding: 15px;
	z-index: 100;
} 